# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts



# packages file

bun.lockb
package-lock.json
yarn.lock
package.json



lib/firebase/seed.ts
lib/firebase/firebase-config.ts
app/api/seed/route.ts
app/seed/page.tsx
lib/firebase/seed.ts
lib/firebase/data/agencies.json
lib/firebase/data/industries.json
lib/firebase/data/locations.json
lib/firebase/data/services.json
lib/firebase/seed.ts
lib/firebase/seed.ts
